
.categorie_propuestas{
    padding: 5rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.2rem;
    text-align: justify;
}
.categorie_propuestas p{
    color: black;
}
.categorie_propuestas h5{
    color: black;
}


/* -------------------responsive ------------*/
@media screen and (max-width: 1024px){
    .team_container{
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }
    .team_member{
        padding: 1rem;
    }
    .categorie_propuestas{
        grid-template-columns: 2fr;
    }

}


@media screen and (max-width: 600px){
    .admission{
        padding: 2.4rem;
    }
    .team_container{
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }
    .team_member{
        padding: 0;
    }
    .team_member p{
        margin-bottom: 1.5rem;
    }
    .categorie_propuestas{
        padding: 5px;
        grid-template-columns: 1fr;
        margin-top: 5rem;
    }
    
    .category p{
        text-align: justify;
        padding: 0;
    }
    h5{
        padding: 0;
        
    }



} 