@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;500;600;700&display=swap');



.admission{
    padding: 5rem;
    background: var(--color-bg1);
    color: var(--color-white);
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 30px;
}
.admission p{
    margin-bottom: 2rem;
    text-align: justify;
    font-size: 1.2em;
    font-weight: 400;
    font-family: 'Edu NSW ACT Foundation', cursive;
}


.categories_admison{
    padding: 5rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.2rem;
    margin-left: 30px;
    margin-right: 30px;
    
}
.category{
    background: var(--color-);
    
}

.category p{
    text-align: justify;
    
}
h5{
   
    font-size: 1.4rem;
}

/* -------------------responsive ------------*/
@media screen and (max-width: 1024px){

    .categories_admison{
        grid-template-columns: 2fr;
    }

}


@media screen and (max-width: 600px){
    .admission{
        padding: 2.4rem;
    }

    .categories_admison{
        padding: 5px;
        grid-template-columns: 1fr;
        margin-top: 5rem;
    }
    
    .category p{
        text-align: justify;
        padding: 0;
    }
    h5{
        padding: 0;
        
    }

    header{
        min-height: 90vh;
    }

    .header_left h1{
        margin-top: 5rem;
    }



}