@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@font-face {
    font-family: 'Maritime Tropical Neue';
    src: url("../webfonts/maritime_tropical_neueds.ttf") format("truetype");
  }

:root{
	--color-primary: #6c63ff;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-danger-variant: rgba(247,88,66,0.4);
    --color-white: #fff;
    --color-light: rgba(255,255,255,0.7);
    --color-black: #000;
    --color-bg: #252850;
    --color-bg1: #2e3267;
    --color-bg2: #424890;
    --color-light: #fff;
    --color-dark: #1e2040;

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 500ms ease;
}


.btn{
    display: inline-block;
    background: var(--color-white);
    color: var(--color-black);
    padding: 1rem 2rem;
    /* border: 1px solid transparent; */
    font-weight: 500;
    transition: var(--transition);
	border-radius: 30px;
}
.btn:hover{
    background: var(--color-dark);
    color: var(--color-white);
    border-color: var(--color-white);
}
.btn-primary{
    background: var(--color-danger);
    color: var(--color-white);
}


body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	overflow-x: hidden;

}
*{
	margin:0;
	box-sizing: border-box;
}

section{
    padding: 6rem 0;
}
section{

    margin-bottom: -2rem;
}


:before,:after{
	box-sizing: border-box;
}
.container{
	max-width: 1200px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.v-center{
	align-items: center;
}
ul{
	list-style: none;
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}
/* header */
.header{
	display: block;
	width: 100%;
	position: relative;
	z-index: 99;
	padding:15px;

}
.header .item-left{
	flex:0 0 17%;
}
.header .logo a{
	font-size: 30px;
	color:#000000;
	font-weight: 700;
	text-decoration: none;
}
.header .item-center{
	flex:0 0 66%;
}
.header .item-right{
	flex:0 0 17%;
	display: flex;
	justify-content: flex-end;
}
.header .item-right a{ 
     text-decoration: none;
     font-size: 16px;
     color:#555555;
     display: inline-block;
     margin-left: 10px;
     transition: color 0.3s ease;
}
.header .menu > ul > li{
	display: inline-block;
	line-height: 50px;
	margin-left: 25px;
}
.header .menu > ul > li > a{
	font-size: 15px;
	font-weight: 500;
	color:#000000;
	position: relative;
	text-transform: capitalize;
	transition: color 0.3s ease;
}
.header .menu > ul > li .sub-menu{
	position: absolute;
	z-index: 500;
	background-color:#ffffff;
	box-shadow: -2px 2px 70px -25px rgba(0,0,0,0.3); 
	padding: 20px 30px;
	transition: all 0.5s ease;
	margin-top:25px;
	opacity:0;
	visibility: hidden;
	border-radius: 25px;
}
@media(min-width: 992px){
.header .menu > ul > li.menu-item-has-children:hover .sub-menu{
	margin-top: 0;
	visibility: visible;
	opacity: 1;
}
}
.header .menu > ul > li .sub-menu > ul > li{
	line-height: 1;
}
.header .menu > ul > li .sub-menu > ul > li > a{
	display: inline-block;
	padding: 10px 0;
	font-size: 15px;
	color: #555555;
	transition: color 0.3s ease;
	text-decoration: none;
	text-transform: capitalize;
}
.header .menu > ul > li .single-column-menu{
	min-width: 280px;
	max-width: 350px;
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li{
   line-height: 1;
   display: block; 
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a {
	padding:10px 0;
	display: inline-block;
	font-size: 15px;
	color:#555555;
	transition: color 0.3s ease;
}
.header .menu > ul > li .sub-menu.mega-menu{ 
    left: 50%;
    transform: translateX(-50%);	
}

.header .menu > ul > li .sub-menu.mega-menu-column-4{
  max-width: 1100px;
  width: 100%; 	
  display: flex;
  flex-wrap: wrap;
  padding:20px 15px;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item{
  flex:0 0 25%;
  padding:0 15px;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item .title{
	font-size: 16px;
	color:#ea4636;
	font-weight: 500;
	line-height: 1;
	padding:10px 0;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center .title{
	text-align: center;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img{
	max-width: 100%;
	width: 100%;
	vertical-align: middle;
	margin-top: 10px;
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a:hover,
.header .menu > ul > li .sub-menu > ul > li > a:hover,
.header .item-right a:hover,
.header .menu > ul > li:hover > a{
	color:#ea4636;
}
/* banner section */
.banner-section{
  /* background: #D9DDDC; */
  /* background-size: cover;
  background-position: center; */
  margin-bottom: -140px;
  width: 100%;
  display: block;
}
.hola{
	background: #D9DDDC;
	margin: 10px;
	height: 600px;
	border-radius: 30px;
    position: relative;
    top: -5rem;
    overflow: hidden;
    height: 90vh;
    /* margin-bottom: 5rem; */
    
}

.header_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
    
}
.header_left p{
    margin: 1rem 0 2.4rem;
    text-align: justify;

}
.header_left h1{
    /* text-align: center; */
	font-family: "Maritime Tropical Neue";
	font-size: 2.5rem;
	color: #1e2040;
}




.mobile-menu-head,
.mobile-menu-trigger{
	display: none;
} 

/*responsive*/
@media(max-width: 991px){

	.header .item-center{
		order:3;
		flex:0 0 100%;
	}
	.header .item-left,
	.header .item-right{
		flex:0 0 auto;
	}
	.v-center{
		justify-content: space-between;
	}
	.header .mobile-menu-trigger{
		display: flex;
		height: 30px;
		width: 30px;
		margin-left: 15px;
		cursor: pointer;
		align-items: center;
		justify-content: center;
	}
	.header .mobile-menu-trigger span{
		display: block;
		height: 2px;
		background-color: #333333;
		width: 24px;
		position: relative;
	}
	.header .mobile-menu-trigger span:before,
	.header .mobile-menu-trigger span:after{
		content: '';
		position: absolute;
		left:0;
		width: 100%;
		height: 100%;
		background-color: #333333;
	}
	.header .mobile-menu-trigger span:before{
		top:-6px;
	}
	.header .mobile-menu-trigger span:after{
		top:6px;
	}
	.header .item-right{
		align-items: center;
	}

	.header .menu{
		position: fixed;
		width: 320px;
		background-color:#ffffff;
		left:0;
		top:0;
		height: 100%;
		overflow: hidden;
		transform: translate(-100%);
		transition: all 0.5s ease;
		z-index: 1099;
	}
	.header .menu.active{
	   transform: translate(0%);	
	}
	.header .menu > ul > li{
		line-height: 1;
		margin:0;
		display: block;
	}
	.header .menu > ul > li > a{
		line-height: 50px;
		height: 50px;
		padding:0 50px 0 15px;
		display: block;
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}
	.header .menu > ul > li > a i{
		position: absolute;
		height: 50px;
		width: 50px;
		top:0;
		right: 0;
		text-align: center;
		line-height: 50px;
		transform: rotate(-90deg);
	}
	.header .menu .mobile-menu-head{
		display: flex;
		height: 50px;
		border-bottom: 1px solid rgba(0,0,0,0.1);
		justify-content: space-between;
		align-items: center;
		position: relative;
		z-index: 501;
		position: sticky;
		background-color: #ffffff;
		top:0;
	}
	.header .menu .mobile-menu-head .go-back{
		height: 50px;
		width: 50px;
		border-right: 1px solid rgba(0,0,0,0.1);
		cursor: pointer;
		line-height: 50px;
		text-align: center;
		color:#000000;
		font-size: 16px;
		display: none;
	}
	.header .menu .mobile-menu-head.active .go-back{
		display: block;
	}
	.header .menu .mobile-menu-head .current-menu-title{
		font-size: 15px;
		font-weight: 500;
		color:#000000;
	}
	.header .menu .mobile-menu-head .mobile-menu-close{
	    height: 50px;
		width: 50px;
		border-left: 1px solid rgba(0,0,0,0.1);
		cursor: pointer;
		line-height: 50px;
		text-align: center;
		color:#000000;	
		font-size: 25px;
	}
	.header .menu .menu-main{
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
	}
	.header .menu > ul > li .sub-menu.mega-menu,
	.header .menu > ul > li .sub-menu{
		visibility: visible;
		opacity: 1;
		position: absolute;
		box-shadow: none;
		margin:0;
		padding:15px;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		padding-top: 65px;
		max-width: none;
		min-width: auto;
		display: none;
		transform: translateX(0%);
		overflow-y: auto;
	}
.header .menu > ul > li .sub-menu.active{
	display: block;
}
@keyframes slideLeft{
	0%{
		opacity:0;
		transform: translateX(100%);
	}
	100%{
	    opacity:1;
		transform: translateX(0%);	
	}
}
@keyframes slideRight{
	0%{
		opacity:1;
		transform: translateX(0%);
	}
	100%{
	    opacity:0;
		transform: translateX(100%);	
	}
}
	.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img{
		margin-top:0;
	}
	.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center .title{
		margin-bottom: 20px;
	}
	.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center:last-child .title{
		margin-bottom:0px;
	}
	.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item{
		flex: 0 0 100%;
        padding: 0px;
	}
	.header .menu > ul > li .sub-menu > ul > li > a,
	.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a{
		display: block;
	}
	.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul {
		margin-bottom: 15px;
	}
	.menu-overlay{
		position: fixed;
		background-color: rgba(0,0,0,0.5);
		left:0;
		top:0;
		width: 100%;
		height: 100%;
		z-index: 1098;
		visibility: hidden;
		opacity:0;
		transition: all 0.5s ease;
	}
	.menu-overlay.active{
	  visibility: visible;
	  opacity:1;	
	}
}


/* sections */
.bienvenido{
	text-align: center;
	color: var(--color-dark);
}

/* niveles */


.categories{
    height: 29rem;
    background: var(--color-bg1);
    color: var(--color-white);

}
.categories h1{
    line-height: 1;
    margin-bottom: 3rem;
}
.categories_container{
    display: grid;
    grid-template-columns: 40% 60%;

}

.categories_left{
    margin-right: 4rem;
}
.categories_left p{
    margin: 1rem 0 3rem;
}
.categories_right {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.2rem;

}
.category{
    /*background: var(--color-bg2);*/
    /*background: url(../imagenes/niña.jpeg);
    background-size: cover;*/
    padding: 2rem;
    border-radius: 2rem;
    transition: var(--transition);
}
.primaria{
     background: #D9DDDC;
    background-size: cover;
	color: var(--color-dark);
}
.secundaria{
     background: #D9DDDC;
    background-size: cover;
	color: var(--color-dark);
}
.category:hover{
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
    z-index: 1;
}
.category_icon{
    background: var(--color-primary);
    padding: 0.7rem;
    border-radius: 0.9rem;
}
.category h5{
    margin: 2rem 0 1rem;
}
.category p{
    font-size: 0.85rem;
}

/* section facebook */

.face{
	margin-left: 5rem;
	margin-right: 5rem;
	
}

/* preguntas */


.faqs{
    background-color: var(--color-bg1);
    
    color: var(--color-white);

}
.faqs_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 3rem;
}
.faq{
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1.4rem;
    height: fit-content;
    background: var(--color-primary);
    cursor: pointer;
	border-radius: 20px;
}
.faq h4{
    font-size: 1rem;
    line-height: 2.2;
}
.faq_icon{
    align-self: flex-start;
    font-size: 1.2rem;

}
.faq p{
    margin-top: 0.8rem;
    display: none;
}
.faq.open p{
    display: block;
}



/*----------testimonios------------*/
.testimonial_container{
    overflow-x: hidden;
    position: relative;
    margin-bottom: 5rem;
}
.testimonial{
    padding-top: 2rem;

}
.avatar{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 1rem;
    border: 1rem solid var(--color-bg1);
}
.testimonial_info{
    text-align: center;
}
.testimonial_body{
    background: var(--color-primary);
    padding: 2rem;
    margin-top: 3rem;
    position: relative;
    color: var(--color-white);
	border-radius: 20px;
}
.testimonial_body::before{
    content: "";
    display: block;
    background: linear-gradient(135deg,
        transparent,
        var(--color-primary),
        var(--color-primary),
        var(--color-primary));
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: 43%;
    top: -1.5rem;
    transform: rotate(45deg);
}

/* pie */

footer{
    /* background: var(--color-bg1); */
    background: right / contain no-repeat url("../img/estudiante.png"),
        var(--color-bg1);
    background-size: 15%;
    padding-top: 5rem;
    font-size: 0.9rem;
    color: var(--color-white);
	border-radius: 30px 30px 0 0;
	
}

.footer_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
}
.footer_container > div h4{
    margin-bottom: 1.2rem;
}
.footer_1 p{
    margin: 0 0 2rem;
}
footer ul li{
    margin-bottom: 0.7rem;
	
}

footer a{
	color: var(--color-white);
}
footer ul li a:hover{
    text-decoration: underline;
}
.footer_social{
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    margin-top: 2rem;
}




/* responsive */
	/* 1024px */

	@media screen and (max-width: 1024px) {
		.subimg{
			width: 80%;
			justify-content: center;
			align-items: center;
	 
			visibility: visible;
			display: block;
		}
	
		.container {
			width: var(--container-width-md);
		}
		h1{
			font-size: 2.2rem;
		}
		h2 {
			font-size: 1.7rem;
		}
		h3{
			font-size: 1.4rem;
		}
		h4{
			font-size: 1.2rem;
		}
	
		/*============*/
	   
	
		/*============*/
		header {
			/*height: 120vh;*/
			height: auto;
			
			margin-bottom: 4rem;
		}
		.header_container{
			gap: 4;
			padding-bottom: 3rem;
		}
	
	
		/*============*/
	
		.categories{
			height: auto;
			text-align: center;
		}
		.categories_container{
			grid-template-columns: 2fr;
			gap: 3rem;
		
		}
		.categories_left{
			margin-right: 0;
		}
	
		/*============*/
	
		.course{
			margin-top: 0;
		}
		.courses_container{
			grid-template-columns: 1fr 1fr;
		}
	
		/*============*/
	
		.faqs_container{
			grid-template-columns: 1fr;
		}
		.faq{
			padding: 1.5rem;
		}
	
		/*============*/
	
		.footer_container{
			grid-template-columns: 1fr 1fr;
		}
	}
	
	/*----------------RESPONSIVE --------------------*/
	
	@media screen and (max-width: 600px) {
		.subimg{
			width: 50%;
		}
		.container{
			width: var(--container-width-sm);
		}
		
		/*============*/
		/* .bienvenido{
			height: 100%;
		}
	 */
		.face{
			margin: 5px;
		}
			
		.bienvenidop{
			
			margin: -1rem;
			text-align: justify;

		}

	
		/*============*/
	
		header{
			height: 100%;
		}

		.header_container{
			grid-template-columns: 1fr;
			text-align: center;
			margin-top: 8rem;
		}
	
		.header_left p{
			margin-bottom: 1.3rem;
		}
			 /* ====separador=== */
		 .separador{
			margin-left: auto;
			margin-right: auto;
	
		}
		/* notificacion/alerta */
		#notifi{
			top: 17px !important;
			font-size: 1.5rem;  
			right: -11.5rem;
	
		}
		.uil-exclamation-circle{
			font-size: 1.5rem;
		}
		#notifi a{
			font-size: 1.3rem;
			font-style: italic;
		}
	
		/*============*/
	
		.categories_right{
			
			grid-template-columns: 1fr 1fr;
			gap: 0.7rem;
		}
		.category{
			padding: 1rem;
			border-radius: 1rem;
		}
		.category_icon{
			margin-top: 4px;
			display: inline-block;
		}
		/*============*/
	
		.courses_container{
			grid-template-columns: 1fr;
		}
		.footer{
			background: var(--color-bg);
		}
		/*============*/
		.testimonial_body{
			padding: 1.2rem;
		}
		/*============*/
		.footer_container{
			grid-template-columns: 1fr;
			text-align: center;
			gap: 2rem;
		}
		.footer_1 p{
			margin: 1rem auto;
		}
		.footer_social{
			justify-content: center;
		}
		marquee{
			visibility: hidden;
		}
	
	}


	/* hr */
	
	hr {
		border: 0;
		height: 1px;
		width: 50%;
		position: relative;
		margin: 30px auto;
	  }
	  hr.center-ball {
		background: #39d1b4;
	  }
	  hr.center-ball:before {
		content: "";
		width: 6px;
		height: 6px;
		background: #39d1b4;
		display: inline-block;
		border: 2px solid #39d1b4;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		position: absolute;
		top: -4px;
		left: 50%;
		margin: 0 0 0 -3px;
	  }
	  hr.center-diamond {
		background: #39d1b4;
	  }
	  hr.center-diamond:before {
		content: "";
		width: 6px;
		height: 6px;
		background: #39d1b4;
		display: inline-block;
		border: 2px solid #39d1b4;
		position: absolute;
		top: -5px;
		left: 50%;
		margin: 0 0 0 -3px;
		transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		/* IE 9 */
		-webkit-transform: rotate(45deg);
		/* Opera, Chrome, and Safari */
	  }
	  hr.center-square {
		background: #39d1b4;
	  }
	  hr.center-square:before {
		content: "";
		width: 6px;
		height: 6px;
		background: #39d1b4;
		display: inline-block;
		border: 2px solid #39d1b4;
		position: absolute;
		top: -5px;
		left: 50%;
		margin: 0 0 0 -3px;
	  }
	  hr.center-star {
		background: #39d1b4;
	  }
	  hr.center-star:before {
		content: "★";
		color: #39d1b4;
		display: inline-block;
		position: absolute;
		top: 0px;
		left: 50%;
		margin: 0 0 0 -3px;
		font-size: 15px;
		line-height: 0;
		text-shadow: 0 0 3px #d9d9d9;
	  }
