*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 2000px;
    
}
.baner{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url(bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.baner video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.baner #bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff url(heart.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
    mix-blend-mode: screen;
}
@media screen and (max-width: 600px){
    .baner{
        background: url(bg600.jpg);
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
}
