.categories_campus{
    padding: 5rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}
.category a{
    color: var(--color-ligth);
}

.category:nth-child(1){
    background: url(../imagenes/correo-electronico-316x229.png);
    background-size: 50%;
    object-fit: cover;
    background-position: right;
    background-repeat: no-repeat;
    background-position-y: 0.1rem;
    
}
.category:nth-child(2){
    background: url(../imagenes/biblioteca-online-316x229.png);
    background-size: 50%;
    object-fit: cover;
    background-position: right;
    background-repeat: no-repeat;
    background-position-y: 0.1rem;

}
.category:nth-child(3){
    background: url(../imagenes/software.png);
    background-size: 50%;
    object-fit: cover;
    background-position: right;
    background-repeat: no-repeat; 
    background-position-y: 0.1rem;

}
.category:nth-child(4){
    background: url(../imagenes/Youtubr.png);
    background-size: 50%;
    object-fit: cover;
    background-position: right;
    background-repeat: no-repeat; 
    background-position-y: 0.1rem;

}


@media screen and (max-width: 2024px){
    .navbar .bx-menu{
        display: block;
    }
    nav .navbar .nav-links{
        font-family: 'Maritime Tropical Neue';
        position: fixed;
        top: 0;
        left: -100%;
        display: block;
        max-width: 50%;
        width: 100%;
        background:  var(--color-dark);
        line-height: 40px;
        padding: 20px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        transition: all 0.5s ease;
        z-index: 1000;
        overflow-y: scroll;
        
        
        
      }
    .navbar .nav-links .sidebar-logo{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }
    .sidebar-logo .logo-name{
        font-size: 25px;
        color: #fff;
  
    }
    .sidebar-logo  i,
    .navbar .bx-menu{
          font-size: 25px;
          color: #fff;
    }
    nav .navbar .links{
        display: block;
        margin-top: 20px;
        
    }
    nav .navbar .links li .arrow{
        line-height: 40px;
    }
    nav .navbar .links li{
        display: block;
    }
    nav .navbar .links li .sub-menu{
        position: relative;
        top: 0;
        box-shadow: none;
        display: none;
        
    }
    nav .navbar .links li .sub-menu li{
        border-bottom: none;
    
    }
    .navbar .links li .sub-menu .more-sub-menu{
        display: none;
        position: relative;
        left: 0;
    }
    .navbar .links li .sub-menu .more-sub-menu li{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .links li:hover .htmlcss-arrow,
    .links li:hover .js-arrow,
    .links li:hover .gp-arrow{
        transform: rotate(0deg);
    }
    .navbar .links li .sub-menu .more-sub-menu{
        display: none;
    }
    .navbar .links li .sub-menu .more span{
        
        display: flex;
        align-items: center;
    
    }
    
    .links li .sub-menu .more:hover .more-sub-menu{
        display: none;
    }
    nav .navbar .links li:hover .htmlCss-sub-menu,
    nav .navbar .links li:hover .js-sub-menu,
    nav .navbar .links li:hover .gp-sub-menu{
        display: none;
    }
    .navbar .nav-links.show1 .links .htmlCss-sub-menu,
    .navbar .nav-links.show3 .links .js-sub-menu,
    .navbar .nav-links.show2 .links .more .more-sub-menu,
    .navbar .nav-links.show4 .links .gp-sub-menu{
        display: block;
    }
    .navbar .nav-links.show1 .links .htmlcss-arrow,
    .navbar .nav-links.show3 .links .js-arrow,
    .navbar .nav-links.show4 .links .gp-arrow{
        transform: rotate(180deg);
    }
    .navbar .nav-links.show2 .links .more-arrow{
        transform: rotate(90deg);
    }
    
    

}
@media screen and (max-width: 1024px){
    .categories{
        height: auto;
        text-align: center;
    }
.categories_campus{
    grid-template-columns: 2fr;
    gap: 3rem;
    /* grid-template-rows: 17rem; */
}
}
@media screen and (max-width: 600px){
    .categories_campus{
        grid-template-columns: 1fr;
        gap: 3rem;
        /* grid-template-rows: 17rem; */
        
    }
}

