<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--description links-->
    <meta name="msapplication-TileImage" content="https://compass-ssl.xbox.com/assets/16/9a/169a7ffe-c2c7-463a-a77c-21239c9ac388.jpg?n=Xbox_Sharing_Xbox-2019-White-on-Green_200x200.jpg">
    <meta name="description" content="Educacion solo Para Niñas" />
    <meta property="og:url" content="https://lomo-saltado.github.io/mdn/" />
    <meta property="og:type"  content="article" />
    <meta property="og:title"  content="Maria De Nazaret Cajamarca" />
    <meta property="og:image"  content="favicon.png" />
    <!--end d.-->
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="stylesheet" href="../css/admision.css">
    <!-- <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!--testimonial-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <!---->
    <link rel="stylesheet" href="../css/whats.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="shorcut icon" href="../favicon.png">

    <link rel="stylesheet" href="../css/whats2.css">
    <script src="https://kit.fontawesome.com/cfcc8dbcf1.js" crossorigin="anonymous"></script>

    <!-- <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'> -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>Admision | Maria de Nazaret</title>
</head>

<body>    
    <!----------------------------------------------navbar-------------------->
    <nav style="zoom: 80%;">
        <center><small style="text-align: center; width: 100%; height: auto; text-align: center;color: transparent;">¡</small></center>
        <div class="navbar">
            <i class='fa-solid fa-align-left bx bx-menu' style="z-index: 99; margin-top: -3rem"></i>
            <div><a href="../index.html">
                <div class="logo"><img src="../imagenes/logo96.png" alt="logo" style="z-index: 99; margin-top: -3rem"></div></a></div>
            <div class="nav-links">
                <div class="sidebar-logo">
                    <span class="logo-name">Admisión</span>
                    <i class='fa-solid fa-xmark bx bx-x'></i>
                </div>
                
                <ul class="links">
                    
                    <li>
                        <a href="../index.html">Sobre Nosotras</a>
                        <i class='bx bxs-chevron-down htmlcss-arrow arrow fa-solid fa-chevron-down'></i>
                        <ul class="htmlCss-sub-menu sub-menu">
                            <!-- <li><a href="#" style="color: var(--color-light); font-weight: 300; font-size: 0.9rem;">Misión & Visión</a></li> -->
                            <li><a href="../template/historia.html" style="color: var(--color-light); font-weight: 300; font-size: 0.9rem;">Historia</a></li>
                            <li><a href="../template/audio/audio.html" style="color: var(--color-light); font-weight: 300; font-size: 0.9rem;">Himno</a></li>
    
                            <li class="more">
                                <span><a href="#"></a>
                                    <i class='bx bxs-chevron-right arrow more-arrow' style="display: none;"></i>
                                </span>
    
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="../institucional/gestionpedagogica.html">Gestión pedagógica</a>
                        <i class='bx bxs-chevron-down js-arrow arrow fa-solid fa-chevron-down'></i>
                        <ul class="js-sub-menu sub-menu">
                            <li><a href="#" style="color: var(--color-light); font-weight: 300; font-size: 0.9rem;">Nivel Primaria</a></li>
                            <li><a href="#" style="color: var(--color-light); font-weight: 300; font-size: 0.9rem;">Nivel Secundaria</a></li>
    
                        </ul>
                    </li>
                    
                    <li><a href="../institucional/gestioninstitucional.html">Gestión institucional</a></li>
                    <li><a href="../institucional/actividadesculturales.html">Actividades culturales</a></li>
                    <li><a href="../campus/index.html">Campus online</a></li>
                    <li><a href="../galeria/galeria.html">Galería</a></li>
                    <li><a href="../template/admision.html">Admisión</a></li>
                    
                    <li><a href="../template/contacto.html">Contacto</a></li>
                    <div class="subimg">
                        
                        <img src="../imagenes/niña2.png" alt=""></div>
                </ul>
    
            </div>
    
            <!-- <div class="search-box" style="display: none;">
                <i class='bx bx-search'></i>
            </div> -->
            <ul style="z-index: 99; margin-top: -3rem">
                <samp style="color: #fff;">&nbsp;</samp>
                <div class="heart">
                    <div class="toggle"></div>
                </div>
                <samp style="color: #fff;">Nazaret</samp>
            </ul>
            
        </div>
    </nav>
    <!-- content -->
    <header>
        <div class="container header_container">
            <div class="header_left" data-aos="fade-right" data-aos-duration="1000">
                <p style="font-size: 2rem; font-weight: 500; margin-top: -10px;font-family: 'Maritime Tropical Neuedouble';">Proceso de admisión</p>
                <div class="separador mx-auto"></div>
                <p style="font-size: 1rem; font-weight: 400; margin-top: -10px; padding-top: 1rem;">Primaria y Secundaria</p>
            </div>

            <div class="header_right" data-aos="fade-left" data-aos-duration="1000">
                <div class="header_right-image">
                    <img src="../imagenes/1997_1.jpg" alt="header" style="border-radius: 10px;">
                </div>
            </div>
        </div>
    </header>
    <br>
    <section class="admission">
        <p data-aos="fade-up">Se considera el nivel primaria de primero a sexto grado; el nivel secundaria incluye primero a quinto grado. El número
            máximo de alumnos en clase es 25.</p>

        <p data-aos="fade-up"> En primaria y secundaria, todas las aulas cuentan con un tutor que se encarga de crear un vínculo y conocer
            a nuestras estudiantes, además contamos con la atención de una psicóloga por grado, quienes trabajan en nuestro
            Departamento de Psicopedagogía, que cuenta con áreas de Learning Support y de Tutoria.</p>

        <p data-aos="fade-up"> Nuestras aulas son totalmente equipadas, iluminadas y ventiladas. Contamos con patios y canchas donde
            nuestros estudiantes practican deporte.

            Contamos con modernos laboratorios para ciencias y computación, áreas especializadas para arte.</p>



        <p data-aos="fade-up"> A continuación, presentamos los pasos para el proceso de inscripción para primaria y secundaria:</p>
    </section>

    <div class="categories_admison" data-aos="fade-up">

        <article class="category">
            <span class="category_icon" style="color: #fff;">#<i class="fa-sharp fa-solid fa-1"></i></span>
            <h5>¿Cuáles son los requisitos previos?</h5>
            <p>&nbsp; • Dialogar con el Director sobre la propuesta pedagógica institucional.<br>
                &nbsp;• Realizar el pago de matrícula. <br>
                &nbsp;• Firmar el compromiso con la institución

                </p>
        </article>
        <article class="category">
            <span class="category_icon" style="color: #fff;">#<i class="fa-sharp fa-solid fa-2"></i></span>
            <h5>¿Qué documentos deberás presentar luego de la matrícula?</h5>
            <!-- <p><img src="../imagenes/tabla.webp" alt=""></p> -->
            <!-- <p>• Fotocopia simple del DNI de la estudiante. <br>
                • Fotocopias simples de los DNIs de los Padres o Tutor Legal. <br>
                • Fotocopia simple de Ficha de Vacunas. <br>
                • Constancia de no adeudo.
                </p> -->
        </article>
        <article class="category">
            <span class="category_icon" style="color: #fff;">#<i class="fa-sharp fa-solid fa-2"></i>.<i class="fa-sharp fa-solid fa-1"></i></span>
            <h5>Para ingresar al primer grado de primaria:</h5>
            <p>• Fotocopia simple del DNI de la estudiante. <br>
                • Fotocopias simples de los DNIs de los Padres o Tutor Legal. <br>
                • Fotocopia simple de Ficha de Vacunas. <br>
                • Constancia de no adeudo.
                </p>
        </article>

        <article class="category">
            <span class="category_icon" style="color: #fff;">#<i class="fa-sharp fa-solid fa-2"></i>.<i class="fa-sharp fa-solid fa-2"></i></span>
            <h5>Para ingresar a un nuevo grado:</h5>
            <p>• Fotocopia simple del DNI de la estudiante. <br>
                • Fotocopias simples de los DNIs de los Padres o Tutor Legal. <br>
                • Certificado de estudios de la institución de procedencia. <br>
                • Constancia de calificativo de conducta. <br>
                • Constancia de no adeudo.
                </p>
        </article>

        <article class="category">
            <span class="category_icon" style="color: #fff;">#<i class="fa-sharp fa-solid fa-2"></i>.<i class="fa-sharp fa-solid fa-3"></i></span>
            <h5>Para ingresar durante el año escolar:</h5>
            <p>• Fotocopia simple del DNI de la estudiante. <br>
                • Fotocopias simples de los DNIs de los Padres o Tutor Legal. <br>
                • Certificado de estudios de la institución de procedencia. <br>
                • Libreta de calificativos del año que cursa. <br>
                • Constancia de calificativo de conducta. <br>
                • Constancia de no adeudo.
                
                </p>
        </article>
    </div>




    <!-------------------------docentes---------------------->
    
    <!-------------------------footer---------------------->
    <footer class="footer">
        <div class="container footer_container">
            <div class="footer_1">
                <a href="index.html" class="footer_logo">
                    <h4>Maria de Nazaret</h4>
                </a>
                <p>
                    Entonces dime: <br>
                    ¿Qué es lo mejor te ha pasado? <br>
                    Haber nacido MUJER!!! <br>
                    <img src="../imagenes/maria.png" alt="imgfooter" style="width: 65%;" >
                    <!-- <input type="text" name="respuesta" placeholder="Haber nacido MUJER" style="background-color: transparent;color: rgb(255, 255, 255);"> -->
                </p>
                
            </div>
    
            <div class="footer_2">
                <h4>Explora</h4>
                <ul class="permalinks">
                    <!-- <li><a href="#inicio">Inicio</a></li> -->
                    <li><a href="../template/historia.html">Sobre Nosotras</a></li>
                    <li><a href="../institucional/gestionpedagogica.html">Gestión Pedagógica</a></li>
                    <li><a href="../institucional/gestioninstitucional.html">Gestión Institucional</a></li>
                    <li><a href="../institucional/actividadesculturales.html">Actividades culturales</a></li>
                    <li><a href="../campus/index.html">Campus online</a></li>
    
                    <li><a href="../galeria/galeria.html">Galería</a></li>
                    <li><a href="../template/admision.html">Admisión</a></li>
                    <li><a href="../template/contacto.html">Contacto</a></li>
                </ul>
            </div>
    
            <div class="footer_3">
                <h4>Enlaces externos</h4>
                <ul class="permalinks">
                    <li><a href="http://ugelcajamarca.gob.pe/">UGEL</a></li>
                    <!-- <li><a href="#">REGLA</a></li> -->
                    <li><a href="#">PCIE</a></li>
                    <li><a href="#">PEJ</a></li>
                </ul>
            </div>
    
            <div class="footer_4">
                <h4>Contacto</h4>
                <div>
                    <i class="fa-solid fa-phone" style="zoom: 1.2;"></i><p>(076) 363545</p>
                    <br>
                    <i class="fa-regular fa-envelope" style="zoom: 1.2;" mail></i><a href="mailto:secretaria@mariadenazaret.edu.pe"><br> secretaria@mariadenazaret.edu.pe</a> <br>
                    <br>
                    <i class="fa-solid fa-location-dot" style="zoom: 1.2;"></i><p>Av. Hoyos Rubio 1050 <br> Urb. Horacio Zeballos Gamez</p>
                </div>
                    
                <ul class="footer_social">
                    <li>
                        <a href="https://www.facebook.com/mariadenazaretcajamarca"><i class="fa-brands fa-facebook-f"></i></a>
                    </li>
    
                    <li>
                        <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                    </li>
    
                    <li>
                        <a href="https://youtube.com/channel/UCLUIynDJbZCsjyiAWhYfgkw"><i class="fa-brands fa-youtube"></i></i></a>
                    </li>
    
                    <li>
                        <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></i></a>
                    </li>
    
                    <li>
                        <a href="https://www.tiktok.com/"><i class="fa-brands fa-tiktok"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>

    <!-----------------------------------btn flotante-->


    <div class="nav-bottom">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <div class="popup-whatsapp fadeIn">
            <div class="content-whatsapp -top"><button type="button" class="closePopup">
                    <i class="material-icons icon-font-color">close</i>
                </button>

                <p><img src="../imagenes/secretary.png" alt="imagen wts" style="width: 50px;"> Hola, ¿en que podemos
                    ayudarle? </p>

            </div>
            <div class="content-whatsapp -bottom">
                <input class="whats-input" id="whats-in" type="text" Placeholder="Enviar mensaje..." />




                <button class="send-msPopup" id="send-btn" type="button">
                    <i class="material-icons icon-font-color--black">send</i>
                </button>

            </div>
        </div>
        <button type="button" id="whats-openPopup" class="whatsapp-button">
            <div class="float">
                <i class="fa fa-whatsapp my-float"></i>
            </div>
        </button>
        <div class="circle-anime"></div>
    </div>
    <script src="../java/script2.js"></script>






    <script src="../java/js.js"></script>
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script>
        const heart = document.querySelector(".heart");

        heart.addEventListener("click", () => {
            if (!heart.classList.contains("forward")) {
                heart.classList.add("forward");
                heart.classList.remove("reverse")
            } else {
                heart.classList.add("reverse")
                heart.classList.remove("forward");

            }
        })

    </script>


    <script>
        const body = document.querySelector("body"),
            toggle = document.querySelector(".toggle");

        let getMode = localStorage.getItem("mode");
        if (getMode && getMode === "dark") {
            body.classList.add("dark");
            toggle.classList.add("active");
        }

        toggle.addEventListener("click", () => {
            body.classList.toggle("dark");

            if (!body.classList.contains("dark")) {
                return localStorage.setItem("mode", "light");
            }
            localStorage.setItem("mode", "dark");
        });

        toggle.addEventListener("click", () => toggle.classList.toggle("active"));
    </script>


    <!-------illumination---------->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>


</body>

</html>
