<!DOCTYPE html>
<html lang="es,us">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- description -->
    <meta name="description" content="Contacto">
    <!-- end -->
    <link rel="stylesheet" href="../css/contacto.css">
    <link rel="stylesheet" href="../css/estilo.css">
    <!-- iconandfont -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- end -->
    <link rel="shorcut icon" href="favicon.png">
    <link rel="stylesheet" href="../css/whats.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<!---------------------------------------->
    
     <link rel="stylesheet" href="../css/whats2.css">
    <!-- icon -->
    <script src="https://kit.fontawesome.com/cfcc8dbcf1.js" crossorigin="anonymous"></script>

     

    <title>Contacto - María De Nazaret</title>
</head>
<body style="zoom: 90%;">
    <!----------------------------------------------navbar-------------------->
    <nav style="zoom: 80%;">
        <center><small style="text-align: center; width: 100%; height: auto; text-align: center;color: transparent;">¡</small></center>
        <div class="navbar">
            <i class='fa-solid fa-align-left bx bx-menu' style="z-index: 99; margin-top: -3rem"></i>
            <div><a href="../index.html">
                <div class="logo"><img src="../imagenes/logo96.png" alt="logo" style="z-index: 99; margin-top: -3rem"></div></a></div>
            <div class="nav-links">
                <div class="sidebar-logo">
                    <span class="logo-name">Contacto</span>
                    <i class='fa-solid fa-xmark bx bx-x'></i>
                </div>
                
                <ul class="links">
                    
                    <li>
                        <a href="../index.html">Sobre Nosotras</a>
                        <i class='bx bxs-chevron-down htmlcss-arrow arrow fa-solid fa-chevron-down'></i>
                        <ul class="htmlCss-sub-menu sub-menu">
                            <!-- <li><a href="#" style="color: var(--color-light); font-weight: 300; font-size: 0.9rem;">Misión & Visión</a></li> -->
                            <li><a href="../template/historia.html" style="color: var(--color-light); font-weight: 300; font-size: 0.9rem;">Historia</a></li>
                            <li><a href="../template/audio/audio.html" style="color: var(--color-light); font-weight: 300; font-size: 0.9rem;">Himno</a></li>
    
                            <li class="more">
                                <span><a href="#"></a>
                                    <i class='bx bxs-chevron-right arrow more-arrow' style="display: none;"></i>
                                </span>
    
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="../institucional/gestionpedagogica.html">Gestión pedagógica</a>
                        <i class='bx bxs-chevron-down js-arrow arrow fa-solid fa-chevron-down'></i>
                        <ul class="js-sub-menu sub-menu">
                            <li><a href="#" style="color: var(--color-light); font-weight: 300; font-size: 0.9rem;">Nivel Primaria</a></li>
                            <li><a href="#" style="color: var(--color-light); font-weight: 300; font-size: 0.9rem;">Nivel Secundaria</a></li>
    
                        </ul>
                    </li>
                    
                    <li><a href="../institucional/gestioninstitucional.html">Gestión institucional</a></li>
                    <li><a href="../institucional/actividadesculturales.html">Actividades culturales</a></li>
                    <li><a href="../campus/index.html">Campus online</a></li>
                    <li><a href="../galeria/galeria.html">Galería</a></li>
                    <li><a href="../template/admision.html">Admisión</a></li>
                    
                    <li><a href="../template/contacto.html">Contacto</a></li>
                    <div class="subimg">
                        
                        <img src="../imagenes/niña2.png" alt=""></div>
                </ul>
    
            </div>
    
            <!-- <div class="search-box" style="display: none;">
                <i class='bx bx-search'></i>
            </div> -->
            <ul style="z-index: 99; margin-top: -3rem">
                <samp style="color: #fff;">&nbsp;</samp>
                <div class="heart">
                    <div class="toggle"></div>
                </div>
                <samp style="color: #fff;">Nazaret</samp>
            </ul>
            
        </div>
    </nav>

<!-----------------contacto-------------->
    <div class="contactus" data-aos="fade-up">
        <div class="titulo_contacto">
            <h2 style="font-family: 'Maritime Tropical Neuedouble';">¿Cómo podemos ayudarte?</h2> <br>
        </div>
        <div class="box">
<!-----------------contacto-------------->
            <div class="contact form">
                <h3>Envíanos un mensaje</h3>
                <form action="https://formsubmit.co/1155370@senati.pe" method="POST">
                    <div class="formbox">
                        <div class="row50">
<!------------------------------------------------------>
                            <div class="inputbox">
                                <span>Nombre</span>
                                <input type="text" name="Nombre" placeholder="Maria">
                            </div>

                            <div class="inputbox">
                                <span>Apellidos</span>
                                <input type="text" name="Apellidos" placeholder="Nazaret">
                            </div>

                        </div>
<!------------------------------------------------------>
                        <div class="row50">

                            <div class="inputbox">
                                <span>Email</span>
                                <input type="email" name="email" placeholder="mariadenazaret@mail.com">
                            </div>

                            <div class="inputbox">
                                <span>Telefono/celular<small style="color: rgba(48, 40, 40, 0.658); font-size: 0.65rem;">(opcional)</small></span>
                                <input type="text" name="Numero" placeholder="+51 123 456 789">
                            </div>
                        </div>
<!------------------------------------------------------>
                        <div class="row100">
                            <div class="inputbox">
                                <span>mensaje</span>
                                <textarea name="Mensaje" placeholder="Aqui su mensaje..."></textarea>
                            </div>
                        </div>
<!------------------------------------------------------>
                        <div class="100">
                            <div class="inputbox">
                                <input type="submit" value="Enviar">
                            </div>
                        </div>
                    </div>

                    <input type="hidden" name="_captcha" value="false">
                    <input type="hidden" name="_next" value="https://lomo-saltado.github.io/I.E.PMariadeNazaret/template/sucess.html">
                    
                </form>

            </div>
<!-----------------contacto-------------->
            <div class="contact info">
                <h3>Contacto</h3>
                <div class="infobox">
                    <div>
                        <span><i class="uil uil-map-marker-alt"></i></span>
                        <p>Av. Hoyos Rubio 1050 Urb. Horacio Zeballos, Cajamarca, Peru</p>
                    </div>

                    <div>
                        <span><i class="uil uil-clock-eight"></i></span>
                        <p>Lunes a viernes de <br> 8 a.m - 1 p.m.</p>
                    </div>

                    <div>
                        <span><i class="uil uil-envelope"></i></span>
                        <a href="mailto:secretaria@mariadenazaret.edu.pe">secretaria@mariadenazaret.edu.pe</a>
                    </div>


                    <div>
                        <span><i class="uil uil-phone-alt"></i></span>
                        <a href="tel:+51123456789">+51 948 544 543</a>
                    </div>
<!--------------------------------------------------------------->
                    <ul class="sci">
                        <li>
                            <a href="https://www.facebook.com/mariadenazaretcajamarca"><i class="uil uil-facebook-f"></i></a>
                        </li>
    
                        <li>
                            <a href="#"><i class="uil uil-instagram"></i></a>
                        </li>
    
                        <li>
                            <a href="https://youtube.com/channel/UCLUIynDJbZCsjyiAWhYfgkw"><i class="uil uil-youtube"></i></i></a>
                        </li>
    
                        <li>
                            <a href="#"><i class="uil uil-twitter"></i></i></a>
                        </li>
    
                        <li>
                            <a href="#"><i class="fa-brands fa-tiktok"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
<!-----------------contacto-------------->
            <div class="contact map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d989.7004052579837!2d-78.50584433973388!3d-7.148922862437171!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91b25aee8d20fb61%3A0xb4e719adbf49e49!2sIEP%20Mar%C3%ADa%20de%20Nazaret!5e0!3m2!1ses-419!2spe!4v1664508088900!5m2!1ses-419!2spe" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>











<!--------------------pie--------------->

<footer class="footer">
    <div class="container footer_container">
        <div class="footer_1">
            <a href="index.html" class="footer_logo">
                <h4>Maria de Nazaret</h4>
            </a>
            <p>
                Entonces dime: <br>
                ¿Qué es lo mejor te ha pasado? <br>
                Haber nacido MUJER!!! <br>
                <img src="../imagenes/maria.png" alt="Maria de Nazaret" style="width: 65%;" >
                <!-- <input type="text" name="respuesta" placeholder="Haber nacido MUJER" style="background-color: transparent;color: rgb(255, 255, 255);"> -->
            </p>
            
        </div>

        <div class="footer_2">
            <h4>Explora</h4>
            <ul class="permalinks">
                <!-- <li><a href="#inicio">Inicio</a></li> -->
                <li><a href="../template/historia.html">Sobre Nosotras</a></li>
                <li><a href="../institucional/gestionpedagogica.html">Gestión Pedagógica</a></li>
                <li><a href="../institucional/gestioninstitucional.html">Gestión Institucional</a></li>
                <li><a href="../institucional/actividadesculturales.html">Actividades culturales</a></li>
                <li><a href="../campus/index.html">Campus online</a></li>

                <li><a href="../galeria/galeria.html">Galería</a></li>
                <li><a href="../template/admision.html">Admisión</a></li>
                <li><a href="../template/contacto.html">Contacto</a></li>
            </ul>
        </div>

        <div class="footer_3">
            <h4>Enlaces externos</h4>
            <ul class="permalinks">
                <li><a href="http://ugelcajamarca.gob.pe/">UGEL</a></li>
                <!-- <li><a href="#">REGLA</a></li> -->
                <li><a href="#">PCIE</a></li>
                <li><a href="#">PEJ</a></li>
            </ul>
        </div>

        <div class="footer_4">
            <h4>Contacto</h4>
            <div>
                <i class="fa-solid fa-phone" style="zoom: 1.2;"></i><p>(076) 363545</p>
                <br>
                <i class="fa-regular fa-envelope" style="zoom: 1.2;" mail></i><a href="mailto:secretaria@mariadenazaret.edu.pe"><br> secretaria@mariadenazaret.edu.pe</a> <br>
                <br>
                <i class="fa-solid fa-location-dot" style="zoom: 1.2;"></i><p>Av. Hoyos Rubio 1050 <br> Urb. Horacio Zeballos Gamez</p>
            </div>
                
            <ul class="footer_social">
                <li>
                    <a href="https://www.facebook.com/mariadenazaretcajamarca"><i class="fa-brands fa-facebook-f"></i></a>
                </li>

                <li>
                    <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                </li>

                <li>
                    <a href="https://youtube.com/channel/UCLUIynDJbZCsjyiAWhYfgkw"><i class="fa-brands fa-youtube"></i></i></a>
                </li>

                <li>
                    <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></i></a>
                </li>

                <li>
                    <a href="https://www.tiktok.com/"><i class="fa-brands fa-tiktok"></i></a>
                </li>
            </ul>
        </div>
    </div>
</footer>



<!-----------------------------------btn flotante-->

<script  src="../java/script2.js"></script>
        

<script src="../java/js.js"></script>
<script>
        const heart = document.querySelector(".heart");

        heart.addEventListener("click", () =>{
        if(!heart.classList.contains("forward")){
            heart.classList.add("forward");
            heart.classList.remove("reverse")
        }else{
            heart.classList.add("reverse")
            heart.classList.remove("forward");

            }
        })
        

    </script>


    <script>
        const body = document.querySelector("body"),
          toggle = document.querySelector(".toggle");
  
        let getMode = localStorage.getItem("mode");
        if (getMode && getMode === "dark") {
          body.classList.add("dark");
          toggle.classList.add("active");
        }
  
        toggle.addEventListener("click", () => {
          body.classList.toggle("dark");
  
          if (!body.classList.contains("dark")) {
            return localStorage.setItem("mode", "light");
          }
          localStorage.setItem("mode", "dark");
        });
  
        toggle.addEventListener("click", () => toggle.classList.toggle("active"));
      </script>

</body>
</html>
