*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

:root{
    --color-primary: #6c63ff;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-danger-variant: rgba(247,88,66,0.4);
    --color-white: #fff;
    --color-light: rgba(255,255,255,0.7);
    --color-black: #000;
    --color-bg: #252850;
    --color-bg1: #2e3267;
    --color-bg2: #424890;
    --color-light: #fff;
    --color-dark: #1e2040;

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 500ms ease;

}
body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    color: var(--color-dark);
    /* background: var(--color-dark); */
}
/*-----------------------------------------*/
body.dark {
    background-color: var(--colot-light);
    color: var(--color-dark);
  }
  .toggle {
    position: relative;
    top: -20px;
    height: 40px;
    width: 40px;
    border-radius: 100px;
    background-color: transparent;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    z-index: 100;
  }
  .toggle::before {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    background: transparent;
    border-radius: 50%;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
  }
  .toggle.active::before {
    background-color: transparent;
    left: calc(100% - 110px - 14px);
  }
  
  
.separador {
    background-color: var(--color-primary);
    height: 5px;
    width: 70px;
}




/*-----------------------------------------*/



.container{
    width: var(--container-width-lg);
    margin: 0 auto;
}
section{
    padding: 6rem 0;
}
section{

    margin-bottom: -2rem;
}
h1,h2,h3,h4,h5{
    line-height: 1.2;
}
h1{
    font-size: 2.4rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.6rem;
}
h4{
    font-size: 1.3rem;
}
a{
    color: var(--color-white);
}
img{
    width: 100%;
    display: block;
    object-fit: cover;

}
.imgnavbar{
    width: 50%;
}
.btn{
    display: inline-block;
    background: var(--color-white);
    color: var(--color-black);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
    border-radius: 30px;
}
.btn:hover{
    background: var(--color-dark);
    color: var(--color-white);
    border-color: var(--color-white);
}
.btn-primary{
    background: var(--color-danger);
    color: var(--color-white);
}


/*----------------------navbar----------------*/

/* import nav css */


/*----------------------header----------------*/
header{
    position: relative;
    top: 2rem;
    overflow: hidden;
    height: 70vh;
    margin-bottom: 5rem;
    background: rgb(208, 213, 207);
    border-radius: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

/* .header_left{
    margin-top:-3rem;
} */

.header_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
    
}

.icon_user{
    padding: 0.7rem;
    border-radius: 0.9rem;
    zoom: 1.2;
}

/* img */
.header_right-image{

    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
/* comunicados/alerta/notifi */

#notifi {
    top: 107px !important;
    transition: .5s ease-in-out all;
}

#notifi{
    position: absolute;
    top: 20px;
    width: auto;
    padding-right: 25px;
    height: 55px;
    background: red;
    z-index: 2;
    right: -12rem;
    border-radius: 1rem 0 0 1rem;
}
#notifi a, .uil-exclamation-circle{
    font-size: 1.5rem;    
}
#notifi a, .uil-exclamation-circle:hover{
    right: 0;
}



#notifi li{
    display: inline;
    text-decoration: underline;
    line-height: 55px;
}
#notifi:hover{
    right: 0;
}

.window-loaded #notifi {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px)
}

    /* popup */


.container-all{
    width: 100%;
    height: 100%;
    position: fixed;
    visibility: hidden;
    transition: all 600ms;
    z-index: 99;
    color: var(--color-dark);
       
}
.container-all:target{
    background: rgba(0, 0, 0, 0.8);
    visibility: visible;
    opacity: 1;
}
.container-all:target .popup{
    top: 50%;
    left: 50%;
    transform: rotate(0deg) translate(-50%, -50%);
    visibility: visible;
    border-radius: 1rem;
}
.popup{
    width: 100%;
    max-width: 800px;
    height: 500px;
    display: flex;
    position: relative;
    background-color: #fff;
    visibility: hidden;
    top: -80%;
    left: -80%;
    transform: rotate(90deg) translate(-150%, 230%);
    transition: all 600ms;
}
.container-text{
    width: 60%;
    padding: 50px;
    overflow-y: auto;
    
}
.btn-close-popup{
    width: 50px;
    height: 50px;
    position: absolute;
    right: -20px;
    top: -20px;
    padding: 15px 7px;
    background-color: #000;
    color: white;
    border-radius: 50%;
    line-height: 10px;
}
@media screen and (max-width: 600px){
    .popup{
        flex-direction: column;
        height: 100%;
    }
    .img{
        width: 100%;
        height: 60px;
        padding: 2px;
        /* display: block; */
    }
    
    .container-text{
       margin-top: 22rem;
        width: 100%;
        height: 100%;
    }
    
}
/*----------------------niveles----------------*/

.categories{
    height: 29rem;
    background: var(--color-bg1);
    color: var(--color-white);
    border-radius: 30px;
    margin-left: 30px;
    margin-right: 30px;

}
.categories h1{
    line-height: 1;
    margin-bottom: 3rem;
}
.categories_container{
    display: grid;
    grid-template-columns: 40% 60%;

}

.categories_left{
    margin-right: 4rem;
}
.categories_left p{
    margin: 1rem 0 3rem;
}
.categories_right {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.2rem;

}
.category{
    /*background: var(--color-bg2);*/
    /*background: url(../imagenes/niña.jpeg);
    background-size: cover;*/
    padding: 2rem;
    border-radius: 2rem;
    transition: var(--transition);
}
.primaria{
    /* background: url(../imagenes/primaria.webp); */
    background-size: cover;
    background-position: center;
    background: var(--color-bg2);
}
.secundaria{
    /* background: url(../imagenes/secundaria1.webp); */
    background-size: cover;
    background-position: center;
    background: var(--color-bg2);
}
.deporte{
    background: var(--color-bg2);
}
.category:hover{
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
    z-index: 1;
}
.category_icon{
    background: var(--color-primary);
    padding: 0.7rem;
    border-radius: 0.9rem;
}
.category h5{
    margin: 2rem 0 1rem;
}
.category p{
    font-size: 0.85rem;
}


/* festividades--------------------------- */
.courses{
    margin-top: 1rem;
    text-align: center;
}
.courses_container{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.courses p{
    text-align: justify;
    padding-left: 3rem;
    padding-right: 3rem;
}

.course{
    /* background: var(--color-bg1); */
    text-align: center;
    /* border: 1px solid transparent; */
    transition: var(--transition);
    color: var(--color-dark);
}
/* .course:hover{
    background: var(--color-dark);
    border-color: var(--color-primary);
} */

.course_info p{
    margin: 1.2rem 0 2rem;
    font-size: 1rem;
}



/*-------------preguntas---------------------*/

.faqs{
    /* background-color: var(--color-bg1); */
    /* box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5); */
    color: var(--color-dark);

}
.faqs_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 3rem;
}
.faq{
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1.4rem;
    height: fit-content;
    background: var(--color-primary);
    cursor: pointer;
    border-radius: 20px;
    color: var(--color-white);
}
.faq h4{
    font-size: 1rem;
    line-height: 2.2;
}
.faq_icon{
    align-self: flex-start;
    font-size: 1.2rem;

}
.faq p{
    margin-top: 0.8rem;
    display: none;
}
.faq.open p{
    display: block;
}



/*----------testimonios------------*/
.testimonial_container{
    overflow-x: hidden;
    position: relative;
    margin-bottom: 5rem;
}
.testimonial{
    padding-top: 2rem;

}
.avatar{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 1rem;
    border: 1rem solid var(--color-bg1);
}
.testimonial_info{
    text-align: center;
}
.testimonial_body{
    background: var(--color-primary);
    padding: 2rem;
    margin-top: 3rem;
    position: relative;
    color: var(--color-white);
    border-radius: 20px;
}
/* .testimonial_body::before{
    content: "";
    display: block;
    background: linear-gradient(135deg,
        transparent,
        var(--color-primary),
        var(--color-primary),
        var(--color-primary));
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: 43%;
    top: -1.5rem;
    transform: rotate(45deg);
} */
/*------------pie------------------*/
footer{
    background: right / contain no-repeat url("../imagenes/estudiante.webp"),
        var(--color-bg1);
    padding-top: 5rem;
    font-size: 0.9rem;
    color: var(--color-white);
    border-radius: 30px;
    margin-left: 30px;
    margin-right: 30px;
}
.footer_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
}
.footer_container > div h4{
    margin-bottom: 1.2rem;
}
.footer_1 p{
    margin: 0 0 2rem;
}
footer ul li{
    margin-bottom: 0.7rem;
}
footer ul li a:hover{
    text-decoration: underline;
}
.footer_social{
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    margin-top: 2rem;
}



/*----------------------------*/
iframe{
    margin-top: 3rem;
}
.tour h3{
    color: #fff;
    line-height: 1;
    margin-left: 3rem;
    margin-top: 1rem;
}

/* llll */
.subimg{
    width: 100%;

    visibility: hidden;
    display: none;
}

/*----------------RESPONSIVE --------------------*/

@media screen and (max-width: 1024px) {
    .subimg{
        width: 80%;
        justify-content: center;
        align-items: center;
 
        visibility: visible;
        display: block;
    }

    .container {
        width: var(--container-width-md);
    }
    h1{
        font-size: 2.2rem;
    }
    h2 {
        font-size: 1.7rem;
    }
    h3{
        font-size: 1.4rem;
    }
    h4{
        font-size: 1.2rem;
    }

    /*============*/
   
    /* import navbar css */

    /*============*/
    header {
        /*height: 120vh;*/
        height: auto;
        
        margin-bottom: 4rem;
    }
    .header_container{
        gap: 4;
        padding-bottom: 3rem;
    }

    .header_left h1{
        font-size: 1.5rem;
    }


    /*============*/

    .categories{
        height: auto;
        text-align: center;
    }
    .categories_container{
        grid-template-columns: 2fr;
        gap: 3rem;
    
    }
    .categories_left{
        margin-right: 0;
    }

    /*============*/

    .course{
        margin-top: 0;
    }
    .courses_container{
        grid-template-columns: 1fr 1fr;
    }

    .course2{
        display: none;
    }
    

    /*============*/

    .faqs_container{
        grid-template-columns: 1fr;
    }
    .faq{
        padding: 1.5rem;
    }

    /*============*/

    .footer{
        background: var(--color-bg1);
    }

    .footer_container{
        grid-template-columns: 1fr 1fr;
    }
}

/*----------------RESPONSIVE --------------------*/

@media screen and (max-width: 600px) {
    .imgnavbar{
        width: 100%;
    }
    .container{
        width: var(--container-width-sm);
    }
    
    /*============*/
    


    nav .navbar .nav-links{
        max-width: 100%;
    } 

    /*============*/

    header{
        height: 100%;
    }
    .header_container{
        grid-template-columns: 1fr;
        text-align: center;
        margin-top: 8rem;
    }

    .header_left{
        margin-top: 3rem;
    }

    .header_left h1{
        font-size: 2.3rem;
    }

         /* ====separador=== */
    .separador{
        margin-left: auto;
        margin-right: auto;

    }
    /* notificacion/alerta */
    #notifi{
        top: 17px !important;
        font-size: 1.5rem;  
        right: -11.5rem;

    }
    .uil-exclamation-circle{
        font-size: 1.5rem;
    }
    #notifi a{
        font-size: 1.3rem;
        font-style: italic;
    }

    /*============*/

    .categories_right{
        
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }
    .category{
        padding: 1rem;
        border-radius: 1rem;
    }
    .category_icon{
        margin-top: 4px;
        display: inline-block;
    }
    /*============*/

    .courses_container{
        grid-template-columns: 1fr;
    }
    /*============*/
    .testimonial_body{
        padding: 1.2rem;
    }
    /*============*/
    .footer_container{
        grid-template-columns: 1fr;
        text-align: center;
        gap: 2rem;
    }
    .footer_1 p{
        margin: 1rem auto;
    }
    .footer_social{
        justify-content: center;
    }
    .imagenfooter{
        margin-left: auto;
        margin-right: auto;
    }

}

/* preloader */

#preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9999;
  }
  
  #preloader img {
    width: 100px; /* ajusta el ancho de la imagen según sea necesario */
    height: auto; /* establece la altura en automático para mantener la proporción */
  }
  
  .hide {
    transform: translateY(-100%);
    transition: transform 0.5s ease-out; /* establece la duración y el tipo de transición */
  }
